.App {
  text-align: center;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Wheel Controller */
.wheel{
  height: 200px;
  width: 240px;
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rotatable{
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* position: relative; */
}

.menu-button{
  /* position: absolute; */
}

.wheel-mid-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.prev-button{
  /* position: absolute; */
}

.enter-button{
  height: 80px;
  width: 80px;
  background-color: silver;
  border-radius: 100%;
  /* position: absolute; */

}

.next-button{
  /* position: absolute; */
}


/* Screen */
.screen{
  box-sizing: border-box;
  height: 200px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  /* display: flex;
  flex-direction: row; */
  position: relative;
}

.menu{
  z-index: 5;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.menu p{
  margin: 12px;
  text-align: start;
  font-weight: bold;
}

.menu div{
  font-size: 12px;
  padding: 6px 8px;
  margin: 4px 8px;
  text-align: start;
}

.list-item.active{
  background-color: #4e98ec;
  /* height: 20px; */
  color: white;
  font-weight: 600;
  /* border-radius: 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-item.active:after{
  content: '\003E';
}

.home{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  color: white;
}

.coverflow-window{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coverflow-window p{
  font-size: 16px;
  font-weight: 600;
}

.settings-window{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-window img{
  height: 80px;
  width: 80px;
}

.settings-window p{
  font-size: 16px;
  font-weight: 600;
}

.games-window{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-window img{
  height: 80px;
  width: 80px;
}

.games-window p{
  font-size: 16px;
  font-weight: 600;
}

.music-screen{
  box-sizing: border-box;
  height: 196px;
  width: 236px;
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 4px;
  /* display: flex;
  flex-direction: row; */
  position: relative;
}

.music-menu{
  z-index: 5;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.music-menu p{
  margin: 12px;
  text-align: start;
  font-weight: bold;
}

.music-menu div{
  font-size: 12px;
  padding: 6px 8px;
  margin: 4px 8px;
  text-align: start;
}

.playlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-position: center;
}

/* Track Window */
.track-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
/* track details */
#details{
  /* width: 40%; */
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid white; */
}
#details img{
  height: 100px;
  width: 100px;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 2px 0px grey; */
}
#track_details{
  margin-left: 5px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#title{
  color: aliceblue;
  font-weight: bold;
  font-size: 12px;
}
#artist{
  font-size: 10px;
}

#duration_slider{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 15px;
  height: 3px;
  width: 210px;
}
#progress{
  background-color: gray;
  width: 0px;
  height: 3px;
}
#timer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 8px;
}